<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <header>
        <h1>How to Play Rock Paper Scissors</h1>
    </header>
    <p>Rock Paper Scissors, is a two player game where both players pick from either rock, paper, or scissors.  The rules are as follows: rock beats scissors, scissors beats paper, and paper beats rock.</p>
    
    <a href="/">Home</a>
</body>
</html>